<script type="text/template" id="entry_add">

    <form>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Title</label>
            <input type="text" value="" id="text-EntryPost" class="form-control" placeholder="Title">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Markdown</label>
            <input type="text" value="" id="markdown-EntryPost" class="form-control" placeholder="Markdown">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>
    <div id="success"></div>
    <div class="row">
        <div class="form-group col-xs-12">
            <input type="submit" id="" value="Save changes" class="btn btn-default"/>
        </div>
    </div>
</form>

</script>
