{% extends "base.html" %}

{% block body %}

<div data-container="global">
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <!-- Pager -->
        <div data-container="main"></div>
        <ul class="pager">
            <li class="next">
                <a data-backbone="backbone" href="{{ handler.reverse_url("entry_list") }}">{{ _("All Posts") }} &rarr;</a>
            </li>
        </ul>
    </div>
</div>
</div>
{#
  {% for entry in entries %}
    {% module Entry(entry) %}
  {% end for %}
#}


{% end body %}

